@font-face{
	font-family: propaganda;
	src: url(propaganda.tff);
	font-weight: bold;
}

header{
	font-family: propaganda;
	font-size: xx-large;
	color: darkred;
	margin-left: auto;
	margin-right: auto;
	text-align: center;	

}

#intro{
	font-family: propaganda;
	font-size: medium;
	text-align: center;
	
}

body{
	background-image: url("http://i.telegraph.co.uk/multimedia/archive/02468/stalingrad_2468823k.jpg");
	background-repeat: no-repeat;
	background-size: cover;	
}

#mainmenu{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

nav { 
    border: 3px solid black;
    display: block;
	height: 70px;
    width: 100%;
    background-color: darkred;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: propaganda;
	text-decoration: none;
	
}

#stuk2pic1{
	float:right
}
#stuk1{
	padding: 10px;
	background-color: darkred;
	font-family: Verdana;
	font-size: medium;
	text-align: left;
	color: white;
	border: 1px solid black;
	text-shadow: 0 0 5px white, 0 0 3px grey;
	float: left;
}

nav ul {
    list-style-type: none;
	color: white;
	text-decoration: none;
	display: inline-block;

}

nav > ul > li{
	float: left;
	padding: 10px;
	text-align: center;
}


nav ul li:hover {
    background-color: red;
    text-decoration: none;
}

nav ul ul{
	list-style-type: none;
	display: none;
	text-decoration: none;
	text-align: center;
	
}

nav li:hover > ul {
    display: block;
}

footer{
	font-family: Verdana;
	font-size: small;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
	text-shadow: 0 0 3px #ff0000,0 0 5px #0000ff;
	
}
nav ul a{
	text-decoration: none;
	color: white;
}
