header{
	font-family: Verdana;
	font-size: xx-large;
	color: grey;
	margin-left: auto;
	margin-right: auto;
	text-align: center;	

}

body{
	background-image: url("http://i.telegraph.co.uk/multimedia/archive/02468/stalingrad_2468823k.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
}

#mainmenu{
	margin-left: auto;
	margin-right: auto;
}

nav { 
    border: 1px solid black;
    display: block;
	height: 70px;
    width: 100%;
    background-color: darkred;
    color: white;
    /*padding: 5px;*/
    text-decoration: none;
    text-align: center;
    font-family: Verdana;
	text-decoration: none;
	
}

nav ul {
    list-style-type: none;
	color: white;
	text-decoration: none;

}

nav > ul > li{
	float: left;
	padding: 10px;
	text-align: center;
}


nav ul li:hover {
    background-color: red;
    text-decoration: none;
}

nav ul ul{
	list-style-type: none;
	padding: 0;
	display: none;
	text-decoration: none;
	text-align: center;
	
}

nav ul ul:hover {
	background-color: red;
}

nav li:hover > ul {
    display: block;
}


#intro{
	font-family: Verdana;
	font-size: medium;
	text-align: center;
	
}

#stuk1{
	padding: 10px;
	background-color: darkred;
	font-family: Verdana;
	font-size: medium;
	text-align: left;
	color: white;
	border: 2px solid darkred;
	text-shadow: 0 0 5px white, 0 0 3px grey
}

footer{
	font-family: Verdana;
	font-size: small;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
	text-shadow: 0 0 3px #ff0000,0 0 5px #0000ff
	
}
nav ul a{
	text-decoration: none;
	color: white;
}
